[package]
name = "jollyfolder"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.28.1", features = ["macros","rt-multi-thread", "signal", "sync", "full"] }

clap = "4.3.0"