html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

section {
    padding: 20px 40px;
    width: calc(100% - 350px);
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    border-color: transparent transparent transparent black;
}


header {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 15px 0;
    position: relative;
}

header nav > div {
    border: 1px solid #b8b8b8;
    box-shadow: 0 2px 3px rgba(172, 172, 172, 0.17);
    border-radius: 10px;
    background: linear-gradient(to top, #f4f4f4, #fff);
    height: 35px;
    user-select: none;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    cursor:pointer;
    font-size: 14px;
    font-weight: bold;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    line-height: 35px;
    padding: 0 15px;
}

header nav > div:first-of-type {
    width: 51px;
    padding: 0;
}

header nav div span {
    scale: .2;
    margin: 4px 0 0 12px;
    width: 128px;
    height: 128px;
    background: url(/spritesheet.webp) no-repeat 0 0;
    transform-origin: top left;
    position: absolute;
}

header nav > div:nth-child(2) > div {
    height: 100%;
    border-right: 1px solid #b8b8b8;
    width: 25px;
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-right: 15px;
}

header nav > div:nth-child(2) > div > span {
    scale: .29;
    opacity: .7;
    margin: 9px 0 0 11px;
    width: 64px;
    height: 64px;
    background: url(/spritesheet.webp) no-repeat 0 -256px;
    transform-origin: top left;
    position: absolute;
    left: 0;
    top: 0;
}


header > div > div {
    position: relative;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #b8b8b8;
    background: linear-gradient(to top, #f4f4f4, #fff);
    box-shadow: 0 2px 3px rgba(172, 172, 172, 0.17);
    user-select: none;
    vertical-align: top;
    margin-left: 5px;
    cursor:pointer;
}

header > div > div > span {
    scale: .25;
    opacity: .7;
    margin: 11px 0 0 14px;
    width: 64px;
    height: 64px;
    background: url(/spritesheet.webp) no-repeat -128px -256px;
    transform-origin: top left;
    position: absolute;
    left: -4px;
    top: -1px;
}

header > div > div:last-child > span {
    background-position:  0 -320px;
}

header > div > div:hover, header nav > div:hover {
    border: 1px solid #3478F6;
    background: linear-gradient(to top, #e7e9ef, #f0f3f8);
}

#searchbar {
    width: calc(100% - 116px);
    height: 33px;
    position: absolute;
    border: 1px solid #3478F6;
    background: linear-gradient(to top, #e7e9ef, #f0f3f8);
    box-shadow: 0 2px 3px rgba(172, 172, 172, 0.17);
    border-radius: 10px;
    right: 0;
    padding-left: 50px;
    font-weight: bold;

}




table {
    width: 100%;
    table-layout: fixed;
}

thead, tbody {
    display: contents;
}

tr {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    position: relative;
}

th, td {
    text-align: left;
    color: #6c6c6c;
}

th {
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
}

th:last-child {
    position: absolute;
    right: 0;
}

td {
    padding: 22px 0;
}

td:nth-child(3) span {
    padding: 2px 4px;
    background-color: #f2f1f0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    border-radius: 2px;
    position: relative;
    top: -1px;
}

td:nth-child(1) {
    position: relative;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}


td:nth-child(1) a {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 50px;
    max-width: calc(100% - 60px);
    line-height: 1em;
}

td:nth-child(1) a span {
    background-color: yellow;
}

td:nth-child(1)::after {
    content: '';
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    pointer-events: none;
}

td:nth-child(1):hover a {
    text-decoration: underline;
}

td:nth-child(1) div {
    display: inline-block;
    background: url('/spritesheet.webp') -256px 0px;
    scale:.25;
    width: 128px;
    height: 128px;
    transform-origin: top left;
    position: absolute;
    top: 13px;
}

tbody tr::after {
    content: '';
    background: url('/spritesheet.webp') -128px -320px;
    scale:.225;
    opacity:.4;
    width: 64px;  /* width of your icon */
    height: 64px;  /* height of your icon */
    position: absolute;
    right: -15px;  /* Adjust this value to position your icon on the right */
    top: -2px;
}

table tr:last-of-type {
    border-bottom: 0;
}

caption {
    caption-side: bottom;
    text-align: center;
    margin: 20px;
    font-size: 14px;
    background: #f2f2f2;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    user-select:none;
}

caption b {
    font-weight: bold;
}

caption:hover {
    background: #e8e8e8;
}

caption:active {
    background: #eeeeee;
}
caption div {
    padding: 0 10px;
    display: inline-block;
}

caption span {
    color: #3478F6;
}

.folder-empty {
    position: absolute;
    top: 200px;
    left: calc(50% - 260px);
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folder-empty div {
    background: url('/spritesheet.webp') -128px -128px;
    scale: .5;
    width: 256px;
    height: 128px;
    transform-origin: center;
}

.folder-empty span {
    text-align: center;
    opacity: .5;
}


#pane {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    background-color: #f2f1f0;
    width: 270px;
}

#pane > span {
    margin: 35px 15px;
    display: block;
    font-size: 15px;
    color: #333;
}

#pane > div {
    background-color: #e8e7e6;
    width: 90%;
    margin: 5px auto 0 auto;
    overflow: hidden;
    border-radius: 8px;
}

#pane > div > div:first-child {
    height: 25px;
    background-color: #d7d4d1;
    border-bottom: 1px solid #cac7c2;
}

#pane > div > div:first-child > * {
    display: inline-block;
    font-weight: 500;
    color: #404040;
}

#pane h1 {
    padding: 6px 10px;
    font-size: 14px;
    width: 165px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#pane > div > div:last-child {
    border-top: 1px solid #cac7c2;
}

#pane > div > div:first-child > *:last-child {
    padding: 3px 6px;
    background-color: rgba(0, 0, 0, 0.24);
    color: #fff;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 5px 10px;
    float: right;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

#pane p {
    padding: 20px 10px;
    font-size: 12px;
    color: #777;
    line-height: 15px;
}

#pane > div > div:last-child {
    font-size: 10px;
    color: #6a6a6a;
    padding: 8px 0;
}

#pane > div > div:last-child span span {
    padding: 2px 4px;
    background-color: #cacaca;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
    border-radius: 2px;
    position: relative;
    top: -1px;
    color: #626262;
}

#pane > div > div:last-child > span {
    padding: 0 10px;
}

footer {
    display:none;
    padding: 50px 0 10px 0;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer a:hover {
    text-decoration: underline;
}