<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About - SkyFolder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A folder has been shared with you. Open now to browse.">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta property="og:title" content="About - SkyFolder"/>
    <meta property="og:description" content="A folder has been shared with you. Open now to browse."/>
    <meta property="og:image" content="https://raw.githubusercontent.com/mu-arch/skyfolder/master/hosted/og_image.jpg"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<body>
<style>
    .about {
        margin: auto;
        text-align: center;
    }

    img {
        max-width: 500px;
    }
    p {
        padding: 10px;
    }
</style>

<div class="about">
    <img src="https://raw.githubusercontent.com/mu-arch/skyfolder/master/hosted/logo.png">
    <p>Version: {{ VERSION }}</p>
    <p>Source code: <a href="https://github.com/mu-arch/skyfolder">[Github]</a></p>
    <p>License: GPLv3</p>
</div>

</body>
</html>