<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A folder has been shared with you. Open now to browse.">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="A folder has been shared with you. Open now to browse."/>
    <meta property="og:image" content="https://raw.githubusercontent.com/mu-arch/skyfolder/master/hosted/og_image.jpg"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<body>
<section>
    <header><div title="Home" onclick="navurl('/')"><span class="logo"></span></div>{{ relative_path.format_path() | safe }}</header>

    <table id="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Modified</th>
            <th>Size</th>
        </tr>
        </thead>
        <tbody>

        {% for entry in entries %}
        <tr><td><div style="background-position:{{ entry.icon_picker() | safe }}"></div><a href="{{ entry.name }}{% if entry.is_dir %}/{% endif %}">{{ entry.name }}{% if entry.is_dir %}/{% endif %}</a></td><td>{{ entry.formatted_last_modified() | safe }}</td><td>{{ entry.formatted_size() | safe }}</td></tr>
        {% endfor %}

        </tbody>
    </table>
    <footer><a href="/about_skyfolder">SkyFolder Fileserver</a></footer>

</section>

<div id="pane">
    {{ current_location_name }}
</div>

</body>
</html>

<script src="/scripts.js"></script>