<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A folder has been shared with you. Open now to browse.">
    <link rel="icon" href="path/to/favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta property="og:title" content="{{ title_name }}" />
    <meta property="og:description" content="A folder has been shared with you. Open now to browse." />
    <meta property="og:image" content="https://raw.githubusercontent.com/mu-arch/skyfolder/master/hosted/og_image.jpg" />

</head>

<body>

<table>
    <thead>
    <tr>
        <th>Filename</th>
        <th>Last Modified</th>
        <th>File Size</th>
    </tr>
    </thead>
    <tbody>

{% for entry in entries %}
<tr>
    <td>{{ entry.name }}</td>
    <td>{{ entry.formatted_last_modified() }}</td>
    <td>{{ entry.formatted_size() }}</td>
</tr>
{% endfor %}

    </tbody>
</table>

</body>
</html>